<ion-header [translucent]="false" style="color: whitesmoke; background-color: rgb(49, 49, 170);" class="ion-border">
  <h1 style="text-align: center; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">RegistrAPP</h1>
</ion-header>

<ion-content>
  <ng-container *ngIf="characterDetails; else loading">
    <ion-card>
      <img [src]="characterDetails.image" alt="{{characterDetails.name}}" />
      <ion-card-header>
        <ion-card-title>{{characterDetails.name}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Información adicional aquí...</p>
      </ion-card-content>
    </ion-card>
  </ng-container>
  <ng-template #loading>
    <p style="text-align: center;">Cargando detalles del profesor...</p>
  </ng-template>
</ion-content>

<ion-footer>
  <ion-button expand="block" (click)="goBack()">
      <ion-icon name="arrow-undo-outline"></ion-icon>
      Ir a la Lista de Profesores
  </ion-button>
</ion-footer>
