<ion-header [translucent]="false" style="color: whitesmoke; background-color: rgb(49, 49, 170);" class="ion-border">
    <h1 style="text-align: center; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">RegistrAPP</h1>
</ion-header>


<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title style="text-align:center;">Profesor</ion-title>
    </ion-toolbar>
    <h1 style="text-align:center;">
        <ion-icon name="warning-outline"></ion-icon>
        En proseso
        <ion-icon name="warning-outline"></ion-icon>
    </h1>
  </ion-header>
</ion-content>

<ion-footer>
    <ion-button expand="block" [routerLink]="['/listaprofesores']"> 
        <ion-icon name="arrow-undo-outline"></ion-icon>
      Ir La Lista De Profesores
    </ion-button>
  </ion-footer>  