<ion-header [translucent]="false" style="color: whitesmoke; background-color: rgb(49, 49, 170);" class="ion-border">
  <h1 style="font-size: 20px; font-family: 'Segoe UI'; text-align: center;">RegistrAPP</h1>
</ion-header>

<ion-content [fullscreen]="true">
  <form>
    <ion-list>
      <ion-img src="assets/forgot_password.svg"></ion-img>
      <ion-item>
        <ion-label>Ingresa un email para recuperar la contraseña</ion-label>
      </ion-item>
      <ion-item>
        <ion-input
          type="email"
          name="email"
          [(ngModel)]="email"
          fill="solid"
          required
          label="Email"
          pattern="[a-zA-Z0-9!#$%&'*\/=?^_`\{\|\}~\+\-]([\.]?[a-zA-Z0-9!#$%&'*\/=?^_`\{\|\}~\+\-])+@[a-zA-Z0-9]([^@&%$\/\(\)=?¿!\.,:;]|\d)+[a-zA-Z0-9][\.][a-zA-Z]{2,4}([\.][a-zA-Z]{2})?"
          labelPlacement="floating"
          errorText="Email no valido"
        ></ion-input>
      </ion-item>
      <ion-button type="submit" [routerLink]="['/login']" (click)="recuperar()">
        Recuperar
      </ion-button>
    </ion-list>
  </form>
</ion-content>

<ion-footer style="background: rgb(49, 49, 170);">
  <ion-button routerLink="/login" expand="block" class="ion-magin-top">
    <ion-icon name="close-outline"></ion-icon>
    Volver al Login
  </ion-button>
</ion-footer>
