<ion-header [translucent]="false" style="color: whitesmoke; background-color: rgb(49, 49, 170);" class="ion-border">
  <h1 style="font-size: 20px; font-family: 'Segoe UI'; text-align: center;">RegistrAPP</h1>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item>
      <ion-label>Ingresa un email para recuperar la contraseña</ion-label>
    </ion-item>
    <ion-item>
      <ion-input
        type="email"
        fill="solid"
        label="Email"
        labelPlacement="floating"
        errorText="Invalid email"
      ></ion-input>
    </ion-item>
    <ion-button [routerLink]="['/login']" >Recuperar</ion-button>
  </ion-list>
</ion-content>
