<ion-header [translucent]="false" class="custom-header ion-border">
  <h1>RegistrAPP</h1>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list class="login-list">
    <ion-img src="assets/login.svg"></ion-img>
    <h5>Iniciar Sesión</h5>
    <ion-item>  
      <ion-input label="Usuario:" [(ngModel)]="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="Contraseña:" type="password" [(ngModel)]="pass"></ion-input>
    </ion-item>
  </ion-list>

  <ion-button expand="block" (click)="login()">
    <ion-icon name="log-in-outline" slot="start"></ion-icon>
    Ingresa
  </ion-button>

  <div class="ion-text-center" style="margin-top: 20px;">
    <a  [routerLink]="['/recuperar']">Recuperar contraseña</a>
  </div>
</ion-content>

