<ion-header [translucent]="false" style="color: whitesmoke; background-color: rgb(49, 49, 170);" class="ion-border">
    <h1 style="text-align: center; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">RegistrAPP</h1>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title style="color: rgb(242, 242, 242); text-align: center">
        Lista Profesores
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let character of results" [routerLink]="['/profileprofesor', character.id]">
          <ion-label>{{character.name}}</ion-label>
          <img src="{{character.image}}" width="50px" height="50px" alt="{{character.name}}" slot="start" />
        </ion-item>           
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-button expand="block" [routerLink]="['/home']"> 
    <ion-icon name="home" slot="start"></ion-icon> 
    Ir Al Home
  </ion-button>
</ion-footer>  