ion-card {
    margin: 20px;
    text-align: center;
  }
  
  ion-card img {
    width: 100%;
    border-radius: 8px;
  }
  
  ion-card-title {
    font-size: 1.5em;
    font-weight: bold;
  }
  
  ion-card-content p {
    font-size: 1.1em;
    color: #333;
  }
  