<ion-header [translucent]="false" style="color: whitesmoke; background-color: rgb(49, 49, 170);" class="ion-border">
  <h1 style="text-align: center; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">RegistrAPP</h1>
</ion-header>

<ion-content>
  <ion-card-header>
    <ion-card-title style="color: rgb(242, 242, 242); text-align: center">
      Lista Profesores
    </ion-card-title>
  </ion-card-header>
  <ng-container *ngIf="charactersDetails.length > 0; else loading">
    <ion-card *ngFor="let character of charactersDetails">
      <img [src]="character.image" alt="{{ character.name }}" />
      <ion-card-header>
        <ion-card-title>{{ character.name }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>   
        <p>Asignatura: {{ character.subject ? character.subject : 'Sin asignatura' }}</p>
        <p>Sección: {{ character.section ? character.section : 'Sin asignar' }}</p>
      </ion-card-content>
    </ion-card>
  </ng-container>
  <ng-template #loading>
    <p style="text-align: center;">Cargando detalles del profesor...</p>
  </ng-template>
</ion-content>

<ion-footer>
  <ion-button expand="block" [routerLink]="['/home']"> 
    <ion-icon name="home" slot="start"></ion-icon> 
    Ir Al Home
  </ion-button>
</ion-footer>  