<ion-header [translucent]="false" class="custom-header ion-border">
  <h1>RegistrAPP</h1>
</ion-header>

    <ion-title>Registrar alumnos</ion-title>

<h6 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; text-align: center;">VISTA ADMINISTRATIVA</h6>
<ion-content class="ion-padding">
  <form>
    <ion-item>
      <ion-label>Correo:</ion-label>
      <ion-input type="email" [(ngModel)]="email" name="email" required></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label>Contraseña:</ion-label>
      <ion-input type="password" [(ngModel)]="pass" name="pass" required></ion-input>
    </ion-item>
    
    <ion-button expand="block" type="submit" class="ion-margin-top" (click)="registrar()">Registrar</ion-button>
  </form>

  <ion-button expand="block" routerLink="/home" class="ion-margin-top">
    Volver al Home
  </ion-button>
  
</ion-content>
