<ion-header [translucent]="false" class="custom-header ion-border">
  <ion-toolbar>
    <ion-title>RegistrAPP</ion-title>
  </ion-toolbar>
</ion-header>

<h1 class="admin-title">VISTA ADMINISTRATIVA</h1>
<h6 class="admin-title">Registrar nuevos alumnos</h6>

<ion-content class="ion-padding">
  <form (ngSubmit)="registrar()">
    <ion-item>
      <ion-label>Correo:</ion-label>
      <ion-input type="email" [(ngModel)]="email" name="email" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Contraseña:</ion-label>
      <ion-input type="password" [(ngModel)]="pass" name="pass" required></ion-input>
    </ion-item>

    <ion-button expand="block" type="submit" class="ion-margin-top">
      Registrar
    </ion-button>
  </form>

  <ion-button expand="block" routerLink="/home" class="ion-margin-top">
    Volver al Home
  </ion-button>
</ion-content>
