<ion-header [translucent]="false" style="color: whitesmoke; background-color: rgb(49, 49, 170);" class="ion-border">
  <h1 style="text-align: center; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">RegistrAPP</h1>
</ion-header>

<ion-content style="--background-color: white; color: white;">
  <h3 class="bienvenida">
    Bienvenido: {{ username }}
    <ion-button style="margin-left: 70%;" (click)="onLogout()">Desconectar</ion-button>
  </h3>


  <div class="calendario">
    <h3 class="calendari">Calendario</h3>
    <ion-datetime style="margin-left: 10%;" display-format="MMMM DD, YYYY"></ion-datetime>
  </div>

  <div class="asignaturas">
    <h3 class="calendari">Asignaturas</h3>
    <ion-button expand="block" [routerLink]="['/listaprofesores']"> 
      Profesores
    </ion-button>
    <ion-list>
      <ion-item>
        <ion-label>Arquitectura</ion-label>
        <ion-progress-bar value="1.0" color="success"></ion-progress-bar>
        <ion-text style="margin-left: 10px;">100%</ion-text>
      </ion-item>    
       
      <ion-item>
        <ion-label>Calidad de Software</ion-label>
        <ion-progress-bar value="0.86" color="success"></ion-progress-bar>
        <ion-text style="margin-left: 10px;">86%</ion-text>
      </ion-item>

      <ion-item>
        <ion-label>Ética para el Trabajo</ion-label>
        <ion-progress-bar value="0.96" color="success"></ion-progress-bar>
        <ion-text style="margin-left: 10px;">96%</ion-text>
      </ion-item>   

      <ion-item>
        <ion-label>Programación de Aplicaciones Móviles</ion-label>
        <ion-progress-bar value="0.91" color="success"></ion-progress-bar>
        <ion-text style="margin-left: 10px;">91%</ion-text>
      </ion-item>

      <ion-item>
        <ion-label>Inglés Intermedio</ion-label>
        <ion-progress-bar value="0.75" color="warning"></ion-progress-bar>
        <ion-text style="margin-left: 10px;">75%</ion-text>
      </ion-item>

      <ion-item>
        <ion-label>Estadistica Descriptiva</ion-label>
        <ion-progress-bar value="0.84" color="success"></ion-progress-bar>
        <ion-text style="margin-left: 10px;">84%</ion-text>
      </ion-item>

    </ion-list>   
  </div>
</ion-content>

<ion-fab slot="fixed" vertical="bottom" horizontal="end">
  <ion-fab-button (click)="scan()">
    <ion-icon name="scan"></ion-icon>
  </ion-fab-button>