.bienvenida{
  margin-left: 1%;
  color: white;
  font-family: 'Segoe UI';
  font-weight: 20px;
  font-size: 20px;
}

.calendari{
   margin-left: 40%;
    color: white;
    font-family: 'Segoe UI';
    font-weight: 20px;
    font-size: 20px;
  }
